@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    color: white;
    display: flex;
    font-family: 'Roboto';
    text-rendering: geometricPrecision;
}

.title {
    font-weight: 500;
    font-size: .7rem;
    margin-top: -2rem;
    text-align: center;
    user-select: none;
}

.sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    background-color: rgb(17, 17, 17);
    height: 100vh;
    border-right: 2px solid rgb(44, 50, 56);
}

.logo {
    margin: 1rem;
    max-width: 210px;
}

.main {
    max-width: calc(100vw - 250px);
    background-color: rgb(20, 24, 29);
    border-radius: 1rem;
    border: 2px solid rgb(44, 50, 56);
    height: calc(96vh - 4rem);
    margin: auto;
    width: calc(100vw - 250px - 6rem);
    padding: 1rem;
    margin-top: 2rem;
    overflow: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

.main::-webkit-scrollbar {
    background: transparent;
}

.nothinghere {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.console {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    font-family: 'Jetbrains Mono';
    font-size: 1.5rem;
}

.searchbar {
    padding: .7rem;
    margin-bottom: 1rem;
    background: none;
    border: 2px solid rgb(44, 50, 56);
    color: white;
    border-radius: .5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sideBarButton {
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: .5rem;

    outline: none;
    color: white;
    background: rgb(41, 0, 0);
    cursor: pointer;
    transition: .3s ease;
    align-self: center;
    width: 90%;
    border: 2px solid rgba(255,255,255,.2);
}
.sideBarButton:hover {
    background: red;
    color: #111111;
    box-shadow: 0px 0px 20px 0px red;
}
.sideBarButton:disabled {
    background: red;
    color: #111111;
    border-color: red;   
    cursor:default;
}
.sideBarButton:disabled:hover {
    box-shadow: none;
}

.consoleTitle {
    align-self: center;
    margin-bottom: 2rem;
    user-select: none;
}

.consoleItem {
    color: rgb(106, 115, 124);
    font-size: 1rem;
    margin-bottom: .3rem;
}

.listdiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.listarea {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.ulistitem {
    background-color: rgb(20, 24, 29);
    border-radius: 1rem;
    border: 2px solid rgb(44, 50, 56);
    padding: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;

    display: flex;
    position: relative;
}

.plistitem {
    background-color: rgb(20, 24, 29);
    border-radius: 1rem;
    border: 2px solid rgb(44, 50, 56);
    padding: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;

    display: flex;
    position: relative;
}

.info {
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.infos {
    margin-left: 1rem;
}

.prodbuttons {
    width: 300px;
    position:absolute;
    right: -1rem;
}

.addpdiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.addProduct {
    padding: 1rem;
    border: 2px solid rgb(44, 50, 56);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 360px;
    border-radius: 1rem;
    margin: auto;
}

.addFile {
    height: fit-content;
    background: rgb(41, 0, 0);
    border: 2px solid rgba(255,255,255,.2);
    border-radius: .5rem;
    color: white;
    display: flex;
    padding: .5rem;
    cursor: pointer;
}

.addFile:hover {
    background: red;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: .5rem;
    color: rgb(41, 0, 0);
    display: flex;
    padding: .5rem;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px red;
}

.addFile::-webkit-file-upload-button {
    display: none;
}